body {
  margin: 0;
  font-size: 18px;
  line-height: 1.7;
  font-family: 'Bree Serif', serif;
  color: #000;
  background: #f9f9fa;
}

.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.wrapper__inner {
  max-width: 500px;
  margin: 50px;
  padding: 50px;
  border: 1px solid #000;
  border-radius: 10px;
}

h3 {
  font-weight: 200;
}

.wrapper__inner p:last-of-type {
  margin-top: 50px;
}
